<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Schedule</title>

    <style>
      table {
        border-collapse: collapse;
        width: 80%;
        margin: 0 auto;
      }
      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
      }
      th {
        background-color: #282a35;
        font-size: 18px;
		color:#fff;
        font-weight: bold;
      }
      td {
        font-size: 16px;
      }
      tr:hover {
		color:#fff;
        background-color: #04aa6d;
      }
    </style>
</head>
<body>
    <h1 style="text-align: center">Роботи</h1>
{% block content %}{% endblock content %}
</body>
</html>